@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 5vh;
  background-color: darkgrey;
  overflow:scroll;
}
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height : 5vh;
  width: 85%;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #76203a;
  z-index: 100;

}

ul {
  display: block;
  padding: 0;
  margin: 0;
}

.link {
  display: inline-block;
  font-size: larger;
  text-decoration: none;
  color: cornflowerblue;
}

.link:hover {

  text-decoration: underline;
  color: chocolate;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

li {
  display: inline;
  margin: 0 1rem;
}

.hidden {
  display: none;

}

.PictureBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
}

.Bride {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:50%;
}

.Groom {
display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:50%;
}

.MainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
  overflow-y: scroll;
}

.MainPage h1 {
  font-size: 2rem;
  color: #333;
}

.MainPage p {
  font-size: 0.75rem;
  color: #333;
  padding: 0;
  margin: 0.1rem;
  height:100%;
}


.BrideBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vmin;
  width:  3vmax;
  border-radius: 19%;
  margin: 1rem;

  background-color: grey;
  text-align: center;
  color: cornflowerblue;
  text-decoration: none;
  font-size: 0.65rem;


}

.profile:hover .profileOpen:hover{
  text-decoration: underline;
  color: cornflower;
}

.ProfileContainer {
  display: flex;
  position:fixed;
  top:0;
  right:0;
  justify-content: center;
  align-items: center;
  height:5vh;
  width: auto;
  padding: 1rem;
  background-color: #76203a;
  z-index: 100;
}


.clerkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 5vh;
  padding-top: 5vh;


}
.signup {
  margin-top:18vh;
  padding-top:18vh;
}
.signin {
  margin-top:10vh;
  padding-top:10vh;
}

.profileOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vmin;
  width:  8vmax;
  border-radius: 19%;
  margin: 1rem;

  background-color: grey;
  text-align: center;
  color: cornflower;
  text-decoration: none;
  font-size: 0.65rem;

}

.RSVPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  background-color: darkgrey;
}
.RSVPForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  padding: 1rem;
  color: cornflowerblue;
  border-radius: 1rem;

}




.newlywedBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}


.justTheTwoOfUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: darkgrey;
  /* border: 1px solid black; */
  width: 100%;

}


.blox {
  display:flex;
  height: 500px;
}


.newlywedBox, .PictureBox {
  margin: 0;
  padding: 0;
}

.containerForContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  background-color: darkgrey;
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
}


.Gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  background-color: darkgrey;
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
}


.RSVPFormContainer {
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 40vw;
}

.RSVPFormContainer p {
  margin-bottom: 0;
  color: cornflowerblue;
}

.outerContactInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  width:100%;
  max-height:100%;
  margin-top:5vh;
  padding-top:5vh;

}
.ContactInfoContainer {
  display:flex;
  jusify-content: center;
  align-items:center;
  height:100%;
  width:100%;
}
.ContactInfo{
  display:flex;
  jusify-content: center;
  align-items:center;
  flex:1;
  flex-direction:column;
  margin-top:5vh;

}
